body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
}
/* keeping image middle top */
p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
/* banner contain image then bannern content */
.banner{
    position: absolute;
    top: 50px;
    left: 140px;
    right: 140px;
    text-align: center;
}
.banner-content{
    position: absolute;
    padding-top: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner h3{
    top: 127px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}

.new-year {

    filter: brightness(80%); /* Adjust the percentage to control the brightness */
}

/* woring with sixty persent section */


main section{
    margin-top: 770px;
}

.discount{

    /* to horizontally center the class */
    justify-content: center;
    /* margin-left: 45%; */
    text-align: center;
}


.sixty{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all-categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* working with welcome section */
/* <section class="welcome">
<img class="vector-img" src="images/Vectorrr.png" alt=""> */





/* new year banner */
.welcome-container{
    /* 100px down from the immidate thing */
    margin-top: 100px;
    /* position: absolute; */
    /* top:50px; */
    top:100px;
    left:140px;
    right:140px;
    text-align: center;
    background-color: rgba(229, 84, 115, 0.10);
    
    /* width: 76%; */
    /* max-width: 1660px; */
    /* margin updowh=0 left,right=auto */
    /* margin: 0 auto; */

}
.party-img {

    filter: brightness(80%); /* Adjust the percentage to control the brightness */
    z-index: 1;
}

.welcome-banner-text-image .welcome-banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}

button.join-now{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}




.welcome-container-two{
    width: 100%;
    height: 100vh;
}
.welcome-banner-two{
    width: 100%;
    height: 65vh;
    background-image: url('../images/Vectorrr.png');
    background-size: cover;
    background-position: 69%;
    position: fixed;
    margin-top: 100px;
}





footer{
    margin-top:100px;
    /* background-color: #070211; */
    background-color: rgba(229, 84, 115, 0.10);

    gap: 100px;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-part-one{
    display: flex;
    /* text-align: center; */
}