body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
}
/* keeping image middle top */
p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
/* banner contain image then bannern content */
.banner{
    background-image: url('../images/Banner Image.png');
    background-image: no-repeat;
    background-size: contain;
    width: 1140px;
    height: 600px;
}
.banner-content{
    position: absolute;
    padding-top: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner h3{
    top: 127px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}

.new-year {

    filter: brightness(80%); /* Adjust the percentage to control the brightness */
}

/* woring with sixty persent section */


main section{
    margin-top: 770px;
}

.discount{

    /* to horizontally center the class */
    justify-content: center;
    /* margin-left: 45%; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.sixty{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all-categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* working with welcome section */
/* <section class="welcome">
<img class="vector-img" src="images/Vectorrr.png" alt=""> */





/* new year banner */
.welcome-container{
    /* 100px down from the immidate thing */
    margin-top: 100px;
    /* position: absolute; */
    /* top:50px; */
    top:100px;
    left:140px;
    right:140px;
    text-align: center;
    background-color: rgba(229, 84, 115, 0.10);
    
    /* width: 76%; */
    /* max-width: 1660px; */
    /* margin updowh=0 left,right=auto */
    /* margin: 0 auto; */

}




button.join-now{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* this is the party section */

.party-section{
    /* position: relative;
    top: 50px;
    bottom: 100px;
    margin-bottom: 200px;
    width: 85%; */

    /* position: relative;
    top: 50px;
    left: 140px;
    right: 140px;
    text-align: center; */
    position: absolute;
    top: 500px;
    left: 140px;
    right: 140px;
    text-align: center;
}

.party-row-one{
    width: 85%;     /*row ta 85% width use korbe, full row use korbe na */
    margin: auto;
    display: flex;   /* row er content gula pasha pashi thakte parbe */
    flex-wrap: wrap;  /* flex-wrap: wrap; determines whether the flex items should wrap or not when they exceed the width of the flex container. With flex-wrap: wrap;, the flex items will wrap onto multiple lines if necessary. */
    align-items: flex-start; 
    
    /* align-items: flex-start; specifies how flex items are aligned vertically within the flex container. With align-items: flex-start;, the flex items are aligned to the start of the cross axis. */
    justify-content: space-between; /* justify-content: space-between; determines how the remaining space is distributed between and around flex items along the main axis. With justify-content: space-between;, the first flex item aligns to the start of the main axis, the last flex item aligns to the end of the main axis, and the remaining space is distributed equally between the flex items. */
    
    align-items: center; /* Align items vertically at the center*/

    align-items: center; 
    position: relative;

}
.party-row-one-col-one {
    width: 50%; /* Adjust the width as needed */
}
  
.party-row-one-col-two {
    width: 50%; /* Adjust the width as needed */
}

footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0px;
    background-color: #070211;
    color: #fff;
    padding:100px 0 30px;
    font-size: 24px;
    line-height: 40px;


    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    /* new */
    top: 100px;
    /* position: relative; */
    bottom: 0px;
}

.footer-row-one{
    width: 85%;     /*row ta 85% width use korbe, full row use korbe na */
    margin: auto;
    display: flex;   /* row er content gula pasha pashi thakte parbe */
    flex-wrap: wrap;  /* flex-wrap: wrap; determines whether the flex items should wrap or not when they exceed the width of the flex container. With flex-wrap: wrap;, the flex items will wrap onto multiple lines if necessary. */
    align-items: flex-start; /* align-items: flex-start; specifies how flex items are aligned vertically within the flex container. With align-items: flex-start;, the flex items are aligned to the start of the cross axis. */
    justify-content: space-between; /* justify-content: space-between; determines how the remaining space is distributed between and around flex items along the main axis. With justify-content: space-between;, the first flex item aligns to the start of the main axis, the last flex item aligns to the end of the main axis, and the remaining space is distributed equally between the flex items. */
}
/* row-two-col-one-line-one */
.footer-row-two{
    width:100%;
    display: block;
    
}
.footer-row-two-line-one {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    height: 2px;
}
/* <div class="footer-row-two-icons"> <!-- flex--> */
.footer-row-two-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
    
}
.icon {
    margin: 10px; /* Add styling for icons here */
    
  }
.footer-icons{
    margin-right: 20px;
}
.footer-row-two-line-two{
    width:85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;    
    background-color: rgba(255, 255, 255, 0.15);
    height: 2px;    
}

.footer-row-three{
    width: 85%; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: flex-start; 
    justify-content: space-between;
}