body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
}
/* keeping image middle top */
.banner{
    position: absolute;
    top: 50px;
    left: 140px;
    right: 140px;
    text-align: center;
}
.banner-content{
    position: absolute;
    padding-top: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner h3{
    top: 127px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}

.new-year {

    filter: brightness(80%); /* Adjust the percentage to control the brightness */
}

/* woring with sixty persent section */


main section{
    margin-top: 770px;
}

.discount{

    /* to horizontally center the class */
    justify-content: center;
    /* margin-left: 45%; */
    text-align: center;
}


.sixty{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all-categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

