body{
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Merriweather', sans-serif;
}
.banner {
    /* position: relative; */
    /* margin-top: 50px; */
    /* text-align: center; */
    /* display: flex to create a flex container. The flex-direction: column property is used to stack the h3 and h1 tags vertically.  */
    
    /* flex streatches the image */
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.banner img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-content{
    position: absolute;
    top: 177px;
    left: 530px;
    right: 531px;
    text-align: center;    
}




/* .banner-content{
    position: relative;
    top: 0px;

    z-index: 2;
} */
.banner h3{
    /* top: 127px; */
    /* color: #FFF; */
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    /* color: #FFF; */
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}
