body{
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Merriweather', sans-serif;
}
.banner {
/* keeping image middle top */
    /* padding: 50px 140px 140px ; */
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    position: absolute;
    top: 50px;
    left: 140px;
    right: 140px;
    text-align: center;    
    justify-content: space-between;
}

.banner img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-content{
    max-width: 500px;
    /* new */
    padding-left: 448px;
    position: absolute;
    top: 177px;
    left: 530px;
    right: 531px;
    text-align: center;    
}




/* .banner-content{
    position: relative;
    top: 0px;

    z-index: 2;
} */
.banner h3{
    /* top: 127px; */
    /* color: #FFF; */
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    /* color: #FFF; */
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}
